  <div style="background-color: #<%= jodel.color %>; color: white; margin-bottom:1em; padding-right: 0.5em; padding-left: 0.5em">
    <% if !jodel.thumbnail_url.nil? %>
      <div class="imgContainer">
        <a class="image_link" href="<%=jodel.image_url%>" data-lighter>
        <div class="centered-and-cropped" style="background: url(<%=jodel.thumbnail_url%>) center center;">
        </div>
        <div class="img-text"><%= t('click_to_view') %></div>
        </a>
      </div>
    <% else %>
      <p style="white-space: pre-wrap"><%=jodel.message.gsub("\n", "<br>").html_safe%></p>
    <% end %>
  </div>
