<div class="left">
<h2>Top-Posts bei Jodel (deutschlandweit)</h2>
<br>
<div class="row">
  <% @jodel_cities.each_with_index do |city, i| %>
        <% if i != 0 && i % 3 == 0 %>
          </div><div class="row">
        <% end %>
        <% jodel = city.jodel_posts.order(vote_count: :desc).first %>
        <% if jodel.nil? %>
          <% jodel = JodelPost.new(vote_count: 0, message: "(Ups, keinen Jodel gefunden. Versuch es doch in ein paar Minuten noch einmal!)",
          color: "404040") %>
        <% end %>
        <div class="col-md-4">
          <b><%=city.name%></b> feiert mit <b><%=jodel.vote_count%></b> Upvotes:<br>
          <div style="background-color: #<%= jodel.color %>; color: white; margin-bottom:1em; padding-right: 0.5em; padding-left: 0.5em">
            <% if !jodel.thumbnail_url.nil? %>
              <a class="image_link" href="<%=jodel.image_url%>" target="_blank">(Hier klicken zum Ansehen)</a>
            <% else %>
              <%= simple_format(jodel.message) %>
            <% end %>
          </div>
        </div>
  <% end %>
</div>
</div>
