<div class="left">
<h2>Top-Posts bei Jodel (<%= params[:country_name] %>)</h2>
<br>
<div class="row">
  <% @jodel_cities.each_with_index do |city, i| %>
        <%= puts "swag" %>
        <% if i != 0 && i % 3 == 0 %>
          </div><div class="row">
        <% end %>
        <div class="col-md-4">
          <% jodel = get_first_jodel(city) %>
          <b><%=link_to(city.name, "/cities/" + city.name)%></b> feiert mit <b><%=jodel.vote_count%></b> Upvotes:<br>
          <%= render 'jodel_post', city: city, jodel: jodel %>
        </div>
  <% end %>
</div>
</div>
