<% provide(:title, t('main_title')) %>
<div class="left">
<h2><%= t('top_posts_header') %> – <%= full_country_name(params[:country_name]) %></h2>
<br>
<div class="row">
  <% @jodel_cities.each_with_index do |city, i| %>
        <% if i != 0 && i % 3 == 0 %>
          </div><div class="row">
        <% end %>
        <div class="col-md-4">
          <% jodel = get_first_jodel(city) %>

          <b><%=link_to(city.name, "/cities/" + city.name + locale_param)%></b>
          <%= t('top_jodel_description_1') %>
          <b><%=jodel.vote_count%></b>
          <%= t('top_jodel_description_2') %>
          <br>

          <%= render 'jodel_post', city: city, jodel: jodel %>

        </div>
  <% end %>
</div>
</div>
