<% provide(:description, t('city_description') + ' ' + @city.name) %>
<% provide(:title, t('city_title') + ' ' + @city.name) %>
<div class="left">
<h2><%= t('city_posts_header') + ' ' + @city.name %></h2>
<br>
<div class="row">
  <% @city.jodel_posts.each_with_index do |jodel, i| %>
        <% if i != 0 && i % 3 == 0 %>
          </div><div class="row">
        <% end %>
        <div class="col-md-4">
          <%= t('city_jodel_description_1') %> <b><%= jodel.vote_count %></b> <%= t('city_jodel_description_2') %>
          <%= render 'jodel_post', city: @city, jodel: jodel %>
        </div>
  <% end %>
</div>
</div>
