<% provide(:description, t('city_description') + ' ' + @city.name + '. ' + t('city_description_2')) %>
<% provide(:title, t('city_title') + ' ' + @city.name) %>
<div class="left">
<h2><%= t('city_posts_header') + ' ' + @city.name %></h2>
<br>
<div class="row">
  <% counter = 0 %>
  <% @city.jodel_posts.each_with_index do |jodel, i| %>
        <%= render 'row_seperator', i: i %>
        <div class="col-md-4">
          <%= t('city_jodel_description_1') %> <b><%= jodel.vote_count %></b> <%= t('city_jodel_description_2') %>
          <%= render 'jodel_post', city: @city, jodel: jodel %>
        </div>
        <% counter = i %>
  <% end %>
  <%= render 'recommendations', locals: { i: counter, name: @city.name, country: false } %>
</div>
</div>
