<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse"  style="background-color: #<%=random_color%>">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Jodel Stats", '/' + locale_param, class: "navbar-brand" %>
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t('germany'),   "/countries/DE?locale=#{I18n.locale}" %></li>
            <li><%= link_to t('austria'),   "/countries/AT?locale=#{I18n.locale}" %></li>
            <li><%= link_to t('switzerland'),   "/countries/CH?locale=#{I18n.locale}" %></li>
            <li>
              <%= link_to search_path do %>

                <span class="glyphicon glyphicon-search"></span> <%= t('search') %>

              <% end %>
            </li>
            <li>
              <%= link_to image_tag('en.svg', class: "language"), "/?locale=en", class: "language_link"%>
            </li>
            <li>
              <%= link_to image_tag('de.svg', class: "language"), "/?locale=de", class: "language_link"%>
            </li>
          </ul>
        </div>
      </div>
    </header>
      <div class="container">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type == "error" ? "danger" : message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <hr>
        <div class="legal">
          <%= t('creator') %> ( <a href="https://www.facebook.com/patrick.petrovic">Facebook</a>
          | <a href="http://twitter.com/ppati000">Twitter</a> | <a href="mailto:ppati000@me.com">Mail</a> ).
          <%= t('legal_info') %>
          <a href="https://github.com/ppati000/jodelstats"><%= t('github') %></a>
        <br>
        </div>
      </div>
</body>
</html>
