<!DOCTYPE html>
<html>
<head>
  <title>Jodel Stats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse"  style="background-color: #<%=random_color%>">
        <div class="container">
          <%= link_to "Jodel Stats", '/', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",   '/' %></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container">
        <%= yield %>
        <hr>
        <div class="legal">
        Erstellt von Patrick Petrovic ( <a href="https://www.facebook.com/patrick.petrovic">Facebook</a>
         | <a href="http://twitter.com/ppati000">Twitter</a> | <a href="mailto:ppati000@me.com">Mail</a> ).
          Alle 5 Minuten aktualisiert. Diese Website ist inoffiziell und nicht mit Jodel affiliiert.
        <a href="https://github.com/ppati000/jodelstats">Code auf GitHub</a>
        <br>
        </div>
      </div>
</body>
</html>
