<!DOCTYPE html>
<html>
<head>
  <title>Jodel Stats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse"  style="background-color: #<%=random_color%>">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Jodel Stats", '/', class: "navbar-brand" %>
        </div>
        <div id="myNavbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Germany",   '/countries/DE' %></li>
            <li><%= link_to "Austria",   '/countries/AT' %></li>
            <li><%= link_to "Switzerland",   '/countries/CH' %></li>
            <li>
              <%= link_to search_path do %>

                <span class="glyphicon glyphicon-search"></span> Search

              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </header>
      <div class="container">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type == "error" ? "danger" : message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
        <hr>
        <div class="legal">
        Erstellt von Patrick Petrovic ( <a href="https://www.facebook.com/patrick.petrovic">Facebook</a>
         | <a href="http://twitter.com/ppati000">Twitter</a> | <a href="mailto:ppati000@me.com">Mail</a> ).
          Alle 5 Minuten aktualisiert. Diese Website ist inoffiziell und nicht mit Jodel affiliiert.
        <a href="https://github.com/ppati000/jodelstats">Code auf GitHub</a>
        <br>
        </div>
      </div>
</body>
</html>
